body{
    font-family: 'Raleway', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    padding: 1rem 0 1.5rem 0;
    gap: 1rem;
    margin-left: 5rem;
}

.header__busqueda{
    background-color: #f5f5f5;
    font-size: 1rem;
    outline: none;
    border: none;
    padding-right: 12rem;
    padding-left: 1em;
    color: #000;
    
}

.header__form{
    display: flex;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: .5rem .8rem;
}

.form__boton{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

