.similares{
    background-color: #f5f5f5;
    padding: 3em 6em;
}

.similares__titulo{
    color: #464646;
    font-weight: 700;
    font-size: 2em;
}

.similares__contenido{
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
    padding-top: 1em;
}

.similares__listas{
    display: flex;
    flex-direction: column;
    width: calc( 16.66% - 1rem);
    box-shadow: 2px 2px 12px #e2dfdf;
    border-radius: 6px;
}

.similares__imagen{
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.similares__textos{
    padding: 1rem ;
    width: 100%;
}

.producto__clase{
    font-size: .89rem;
}

.similares__precio{
    padding: .5rem 0;
    font-weight: 700;
    color: #464646 ;
}

.similares__link{
    text-decoration: none;
    color: #2A7AE4;
    font-weight: 600;
}

.similares__link:hover{
    text-decoration: underline  #2A7AE4;
}

@media (min-width: 0px) and (max-width: 768px){
    .similares{
        padding: 3em 1.5em;
    }

    .similares__listas-off{
        display: none;
    }

    .similares__contenido{
        flex-wrap: wrap;
    }

    .similares__listas{
        width: calc(50% - 1em)
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .similares__listas{
        width: calc(25% - .8em);
    }

    .similares__listas-off{
        display: none;
    }

    .similares{
        padding: 3em 1em;
    }
}